# Create Tables

In [1]:
show t0:([]id:`a`b`c`d`e;dts:5?10:00)
show tcks:([]id:10?`a`b`c`d`e;dts:10?10:00;val:10?1f)

id dts
--------
a  06:00
b  08:42
c  04:17
d  09:45
e  01:30
id dts   val
-------------------
b  05:14 0.5347096
c  09:40 0.7111716
d  00:45 0.411597
e  01:04 0.4931835
e  02:57 0.5785203
c  03:58 0.08388858
e  06:01 0.1959907
e  04:01 0.375638
e  04:56 0.6137452
e  03:36 0.5294808

# First way -> As of Join and pivot

In [6]:
show t:ungroup select id,dts:({1 2 3+\x};dts) fby id from t0
update temps:15#1 2 3 from `t

id dts
--------
a  06:01
a  06:02
a  06:03
b  08:43
b  08:44
b  08:45
c  04:18
c  04:19
c  04:20
d  09:46
d  09:47
d  09:48
e  01:31
e  01:32
e  01:33

`t

id dts   temps val
-------------------------
a  06:01 1
a  06:02 2
a  06:03 3
b  08:43 1     0.5347096
b  08:44 2     0.5347096
b  08:45 3     0.5347096
c  04:18 1     0.08388858
c  04:19 2     0.08388858
c  04:20 3     0.08388858
d  09:46 1     0.411597
d  09:47 2     0.411597
d  09:48 3     0.411597
e  01:31 1     0.4931835
e  01:32 2     0.4931835
e  01:33 3     0.4931835

In [10]:
show mer:aj[`id`dts;t;tcks]
show pivot:0!exec (enlist`dts)!enlist first dts-1 by id:id from mer
show pivot:0!exec ((`$string temps)!val) ^(enlist`dts)!enlist first dts-1 by id:id from mer
show dat:(0!select first dts - temps[0] by id from t) 
update dts:dat`dts from pivot

id dts   temps val
-------------------------
a  06:01 1
a  06:02 2
a  06:03 3
b  08:43 1     0.5347096
b  08:44 2     0.5347096
b  08:45 3     0.5347096
c  04:18 1     0.08388858
c  04:19 2     0.08388858
c  04:20 3     0.08388858
d  09:46 1     0.411597
d  09:47 2     0.411597
d  09:48 3     0.411597
e  01:31 1     0.4931835
e  01:32 2     0.4931835
e  01:33 3     0.4931835
id dts
--------
a  06:00
b  08:42
c  04:17
d  09:45
e  01:30
id 1          2          3          dts
-----------------------------------------
a                                   06:00
b  0.5347096  0.5347096  0.5347096  08:42
c  0.08388858 0.08388858 0.08388858 04:17
d  0.411597   0.411597   0.411597   09:45
e  0.4931835  0.4931835  0.4931835  01:30
id dts
--------
a  06:00
b  08:42
c  04:17
d  09:45
e  01:30

id 1          2          3          dts
-----------------------------------------
a                                   06:00
b  0.5347096  0.5347096  0.5347096  08:42
c  0.08388858 0.08388858 0.08388858 04:17
d  0.411597   0.411597   0.411597   09:45
e  0.4931835  0.4931835  0.4931835  01:30

# Second way -> Window join

In [5]:
temps:1 2 3
over[{x ij `dts xkey y};{w:((count t0)#00:00; x+t0.dts);q:wj1[w;`id`dts;t0;(tcks;(last;`val))];xcol[(`id`dts),`$("val"),(string x),"s";q]} each temps]

id dts   val1s     val2s     val3s
--------------------------------------
a  06:58
b  02:06
c  01:17
d  08:23 0.8177547 0.8177547 0.8177547
e  02:00

In [6]:
temps:1 2 3
over[{x ij `dts xkey y};{w:(x+t0.dts;(count t0)#23:59);q:wj1[w;`id`dts;t0;(tcks;(last;`val))];xcol[(`id`dts),`$("val"),(string x),"s";q]} each temps]

id dts   val1s      val2s      val3s
-----------------------------------------
a  06:58 0.6884756  0.6884756  0.6884756
b  02:06 0.8671096  0.8671096  0.8671096
c  01:17 0.08724017 0.08724017 0.08724017
d  08:23
e  02:00