In [1]:
show trips:("DMSPPNHFFFFFSFEFFF";1#",") 0: `:./data/trips.csv

date       month   vendor pickup_time                   dropoff_time         ..
-----------------------------------------------------------------------------..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:04:12.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:00.000000000 2009.01.01D00:05:03.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:02.000000000 2009.01.01D00:05:40.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:04.000000000 2009.01.01D00:03:08.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:07.000000000 2009.01.01D00:19:01.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:09.000000000 2009.01.01D00:05:43.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:10.000000000 2009.01.01D00:05:50.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:13.000000000 2009.01.01D00:15:27.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:15.000000000 2009.01.01D00:01:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:16.000000000 2009.01.01D00:12:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:17.000000000 2009.01.01D00:22:02.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:21.000000000 2009.01.01D00:18:29.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:23.000000000 2009.01.01D00:15:25.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:25.000000000 2009.01.01D00:13:41.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:27:44.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:09:31.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:27.000000000 2009.01.01D00:04:55.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:28.000000000 2009.01.01D00:11:10.0..
2009.01.01 2009.01 CMT    2009.01.01D00:00:29.000000000 2009.01.01D00:19:07.0..
2009.01.01 2009.01 DDS    2009.01.01D00:00:29.000000000 2009.01.01D00:27:08.0..
..

raceId driverId lap position time         milliseconds
------------------------------------------------------
841    20       1   1        01:38:00.109 98109
841    20       2   1        01:33:00.006 93006
841    20       3   1        01:32:00.713 92713
841    20       4   1        01:32:00.803 92803
841    20       5   1        01:32:00.342 92342
841    20       6   1        01:32:00.605 92605
841    20       7   1        01:32:00.502 92502
841    20       8   1        01:32:00.537 92537
841    20       9   1        01:33:00.240 93240
841    20       10  1        01:32:00.572 92572
841    20       11  1        01:32:00.669 92669
841    20       12  1        01:32:00.902 92902
841    20       13  1        01:33:00.698 93698
841    20       14  3        01:52:00.075 112075
841    20       15  4        01:38:00.385 98385
841    20       16  2        01:31:00.548 91548
841    20       17  1        01:30:00.800 90800
841    20       18  1        01:31:00.810 91810
841    20       19  1        01:31:00.018 91018
841    20       20  1        01:31:00.055 91055
..

In [2]:
meta trips

c           | t f a
------------| -----
date        | d
month       | m
vendor      | s
pickup_time | p
dropoff_time| p
duration    | n
passengers  | h
distance    | f
start_long  | f
start_lat   | f
end_long    | f
end_lat     | f
payment_type| s
fare        | f
surcharge   | e
tip         | f
tolls       | f
total       | f

In [6]:
show nested_use:select date, fare from (trips lj select avg1:avg fare by date from trips) where fare>avg1

date       fare
---------------
2009.01.01 27.8
2009.01.01 10.6
2009.01.01 11.8
2009.01.01 20.2
2009.01.01 23.4
2009.01.01 12.2
2009.01.01 17.8
2009.01.01 30.2
2009.01.01 14.6
2009.01.01 17.3
2009.01.01 21.4
2009.01.01 15.8
2009.01.01 25
2009.01.01 15
2009.01.01 17.4
2009.01.01 26.2
2009.01.01 15
2009.01.01 20.6
2009.01.01 29
2009.01.01 14.6
..

In [5]:
show fby_use:select date, fare from trips where fare > (avg; fare) fby date

date       fare
---------------
2009.01.01 27.8
2009.01.01 10.6
2009.01.01 11.8
2009.01.01 20.2
2009.01.01 23.4
2009.01.01 12.2
2009.01.01 17.8
2009.01.01 30.2
2009.01.01 14.6
2009.01.01 17.3
2009.01.01 21.4
2009.01.01 15.8
2009.01.01 25
2009.01.01 15
2009.01.01 17.4
2009.01.01 26.2
2009.01.01 15
2009.01.01 20.6
2009.01.01 29
2009.01.01 14.6
..

In [9]:
nested_use ~ fby_use

1b

In [13]:
show mul_nested_use:select date, fare, passengers from (trips lj select avg1:avg fare by date, passengers from trips) where fare>avg1

date       fare passengers
--------------------------
2009.01.01 27.8 1
2009.01.01 10.6 1
2009.01.01 11.8 2
2009.01.01 20.2 1
2009.01.01 23.4 2
2009.01.01 12.2 3
2009.01.01 17.8 1
2009.01.01 30.2 1
2009.01.01 14.6 1
2009.01.01 17.3 1
2009.01.01 21.4 1
2009.01.01 15.8 1
2009.01.01 25   1
2009.01.01 15   1
2009.01.01 17.4 2
2009.01.01 26.2 2
2009.01.01 15   1
2009.01.01 20.6 1
2009.01.01 29   1
2009.01.01 14.6 1
..

In [14]:
show mul_fby_use:select date, fare, passengers from trips where fare > (avg; fare) fby ([]date; passengers)

date       fare passengers
--------------------------
2009.01.01 27.8 1
2009.01.01 10.6 1
2009.01.01 11.8 2
2009.01.01 20.2 1
2009.01.01 23.4 2
2009.01.01 12.2 3
2009.01.01 17.8 1
2009.01.01 30.2 1
2009.01.01 14.6 1
2009.01.01 17.3 1
2009.01.01 21.4 1
2009.01.01 15.8 1
2009.01.01 25   1
2009.01.01 15   1
2009.01.01 17.4 2
2009.01.01 26.2 2
2009.01.01 15   1
2009.01.01 20.6 1
2009.01.01 29   1
2009.01.01 14.6 1
..

In [15]:
mul_nested_use ~ mul_fby_use

1b

In [36]:
0!select avg fare by 5 xbar pickup_time.minute from trips

minute fare
---------------
00:00  11.38162
00:05  10.44915
00:10  10.25035
00:15  10.17476
00:20  9.850647
00:25  10.32478
00:30  10.03749
00:35  10.50438
00:40  10.43162